---
const {
  id,
  label,
  type = "text",
  name,
  value,
  placeholder,
  required,
  disabled,
  readonly,
  autocomplete,
  autofocus,
  error = "",
} = Astro.props;
---

<div class="flex flex-col gap-2 items-start">
  <label for={id} class="text-font-secondary">{label}</label>
  <input
    id={id}
    type={type}
    name={name}
    value={value}
    placeholder={placeholder}
    {required}
    {disabled}
    {readonly}
    {autocomplete}
    {autofocus}
    class="bg-background w-full h-12 rounded text-font-tertiary p-3"
  />
  <small>{error}</small>
</div>
